[Unit]
Description=Syftbox Stage Server
After=network.target

[Service]
LimitNOFILE=262144
User=azureuser
WorkingDirectory=/home/azureuser
ExecStartPre=uv run syftbox server migrate
ExecStart=uv run uvicorn syftbox.server.server:app --workers 5 --host 0.0.0.0 --port 8080 --timeout-graceful-shutdown=5 --timeout-keep-alive=30 --limit-max-requests=5000 --ssl-keyfile /etc/letsencrypt/live/syftboxstage.openmined.org/privkey.pem --ssl-certfile /etc/letsencrypt/live/syftboxstage.openmined.org/fullchain.pem --log-level=trace
Environment=OTEL_RESOURCE_ATTRIBUTES=service.name=syftbox-stage
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
